{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
        <div class="inner">
            {{> "site-nav"}}
            <div class="site-header-background">
                <div class="site-header-content">
                    <h1 class="site-title">
                        {{@site.title}}
                    </h1>
                    <h2 class="site-description">{{@site.description}}</h2>
                    <div class="features">
                        <div class="feature-content">
                            <img src="assets/images/feature-1.png" />
                            <h3>Exclusive Content</h3>
                            <p>Search the full database of articles on the website.</p>
                        </div>
                        <div class="feature-content">
                            <img src="assets/images/feature-2.png" />
                            <h3>Ask  Me Anything</h3>
                            <p>You're in charge of what we talk about! Your requests become my next articles.</p>
                        </div>
                        <div class="feature-content">
                            <img src="assets/images/feature-3.png" />
                            <h3>Weekly Newsletter</h3>
                            <p>Pro-tips, updates and jokes in your inbox, every week.</p>
                        </div>
                        <div class="feature-content">
                            <img src="assets/images/feature-4.png" />
                            <h3>Cat Photos</h3>
                            <p>You'll be getting these whether you want them or not, sorry :)</p>
                        </div>                    
                    </div>
                    {{#if @member}}
                    {{else}}
                    <div class="subscribe-form">
                        <form data-members-form="subscribe">
                            <div class="form-group">
                                <input class="subscribe-email" data-members-email placeholder="email@example.com" autocomplete="false" type="email" required="false" />
                                <button class="button primary" type="submit">
                                    <span class="button-content">Subscribe</span>
                                    <span class="button-loader">{{> "icons/loader"}}</span>
                                </button>
                                <div class="message-success">
                                    <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
                                </div>
                                <div class="message-error">
                                    Please enter a valid email address!
                                </div>
                            </div>
                        </form>
                    </div>
                    {{!-- <a class="button primary" href="{{@site.url}}/signup/">Subscribe now</a> --}}
                    {{/if}}
                </div>
            </div>
        </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {{#foreach posts visibility="all"}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>

{{> site-header}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

        console.log("there must be a way to debug");

        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}
